[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = ArinaRiter
	email = 117931793+ArinaRiter@users.noreply.github.com
